.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  width: 100vw;
}
.projects_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
  max-width: 1000px;
}
.date {
  font-weight: 500;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.4em;
  width: 1fr;
  user-select: none;

  opacity: 0;
  letter-spacing: 0;
  transform: translateX(0em);
}
.dateAnimationIn {
  opacity: 1;
  letter-spacing: 1.8em;
  transform: translateX(0.9em);
  animation: dateAnimation 2s ease-in-out;
}

@keyframes dateAnimation {
  0% {
    opacity: 0;
    letter-spacing: 0;
    transform: translateX(0em);
  }
  100% {
    opacity: 1;
    letter-spacing: 1.8em;
    transform: translateX(0.9em);
  }
}

.title {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 6.5vw;
  letter-spacing: 0;
  line-height: 1.1em;
}
.desc {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.learn_more {
  padding: 10px 15px;
  background-color: rgb(var(--color-dark-button));
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
.learn_more:active {
  opacity: 0.8;
}