@import url(//fonts.2w.vc/suit/static/font.css);* {
  font-family: SUIT,sans-serif;
  letter-spacing: -.02rem;
  margin: 0;
  padding: 0
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgba(var(--color-primary), 1);
  -webkit-tap-highlight-color : transparent;
  word-break: keep-all;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow-x: hidden;
}
#__next{
  height: 100%;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
div{
  user-select: none;
}

:root{
  --color-0: 253, 249, 255;
  --color-1: 248, 236, 255;
  --color-2: 242, 217, 255;
  --color-3: 235, 200, 254;
  --color-4: 230, 187, 255;
  --color-5: 224, 170, 254;
  --color-6: 198, 125, 255;
  --color-7: 157, 78, 221;
  --color-8: 90, 25, 155;
  --color-9: 60, 10, 109;
  --color-10: 36, 0, 70;
  --color-primary: 17, 0, 44;
}

